.flex-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 3rem;
}
.track-crypto-heading,
.real-time-heading {
  font-size: 6.5rem;
  margin: 0;
}
.track-crypto-heading {
  color: var(--white);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.track-crypto-heading:hover {
  color: var(--black);
  -webkit-text-stroke-color: white;
  transition: all 0.3s;
}
.real-time-heading {
  color: var(--yellow);
}
.info-text {
  font-size: 1.5rem;
  color: var(--grey);
  padding-left: 3rem;
}
.btn-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  padding-right: 5rem;
  margin-top: 7rem;
}
.phone-container {
  width: 50%;
  position: relative;
  padding: 0.5rem;
}
.phone {
  position: absolute;
  z-index: 100;
  min-width: 250px;
  width: 45%;
  right: 1;
}
.bitcoin {
  position: absolute;
  min-width: 250px;
  width: 85%;
  top: 8rem;
  right: 0;
}
@media only screen and (max-width: 1200px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 5rem;
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .phone {
    min-width: 200px;
    width: 45%;
  }
  .bitcoin {
    min-width: 200px;
    top: 6rem;
  }
}
@media only screen and (max-width: 800px) {
  .flex-info {
    flex-direction: column;
  }
  .phone-container {
    display: block;
    margin: auto;
    margin-top: 5rem;
  }
  .phone {
    left: 10%;
  }
  .bitcoin {
    left: 20%;
  }
  .left-component {
    width: 100%;
  }
  .track-crypto-heading,
  .real-time-heading {
    font-size: 4rem;
    text-align: center;
  }
  .track-crypto-heading {
    -webkit-text-stroke-width: 1px;
  }
  .info-text {
    text-align: center;
  }
  .btn-flex {
    justify-content: center;
  }
}
